[Unit]
Description=Run rpi drone controller
After=basic.target

[Service]
ExecStart=/usr/bin/python3 /home/pauliusirdraugai/inocontrol/core/main.py
WorkingDirectory=/home/pauliuirdraugai/inocontrol/core
Restart=always
User=pi
Environment=PYTHONBUFFERED=1

[Install]
WantedBy=multi-user.target
